.action-button {
    
    font-size: 12px;
    padding: 5px 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
  }
  
  .action-button.primary {
    color: #fff;
    background-color: #3f5b79;
  }
  
  .action-button.secondary {
    color: #fff;
    background-color: #dc3545;
  }